---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 2f2bbb7ad42e76a9c8080918b5e1a0ab1512ca69
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1465190667'
      Etag:
      - W/"0d5e6603e0a10a81eaa52fdf29498f1f"
      Last-Modified:
      - Sun, 09 Mar 2014 10:18:05 GMT
      X-Oauth-Scopes:
      - read:org, repo
      X-Accepted-Oauth-Scopes:
      - user
      X-Oauth-Client-Id:
      - 27b90781daccd98d0371
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"repos","id":77416,"avatar_url":"https://avatars.githubusercontent.com/u/77416?v=3","gravatar_id":"","url":"https://api.github.com/users/repos","html_url":"https://github.com/repos","followers_url":"https://api.github.com/users/repos/followers","following_url":"https://api.github.com/users/repos/following{/other_user}","gists_url":"https://api.github.com/users/repos/gists{/gist_id}","starred_url":"https://api.github.com/users/repos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/repos/subscriptions","organizations_url":"https://api.github.com/users/repos/orgs","repos_url":"https://api.github.com/users/repos/repos","events_url":"https://api.github.com/users/repos/events{/privacy}","received_events_url":"https://api.github.com/users/repos/received_events","type":"User","site_admin":false,"name":null,"company":null,"blog":null,"location":null,"email":null,"hireable":null,"bio":null,"public_repos":0,"public_gists":0,"followers":4,"following":0,"created_at":"2009-04-24T13:53:27Z","updated_at":"2014-03-09T10:18:05Z"}'
  recorded_at: Mon, 06 Jun 2016 04:48:31 GMT
recorded_with: VCR 3.0.3
