 .repos-index {
   padding: 20px;
 }

 .root-background {
   padding: 0px;
   background: url(concrete_seamless.png) no-repeat center;
   background-size: cover;
   height: 700px;
   text-deocration: none !important;
 }

 .gh-icon {
   padding-left: 500px;
   font-size: 200%;
   font-family: Ubuntu, arial;
 }

 .user-image {
  padding-left: 600px;
   width: 100px;
   height: 100px;
 }

 .user-texts {
   padding-top: 20px;
   width: 1000px;
   text-align: center;
   padding-left: 300px;
   font-family: arial;
 }

 .fa {
   font-size: 450% !important;
   padding: 20px;
 }

 .contributions {
   padding-top: 200px;
   padding-right: 30px;
 }
